body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 5px 5px 5px 245px;

   
/* Style for input fields within the table */
table input[type="text"] {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: #f2f2f2; /* Add the desired background color here */
  box-sizing: border-box;
}
 
}
.bg-gradient{
height:100vh;
width: 100%;
/* background-image: linear-gradient(#240046, #3c096c, #5a189a ,#7b2cbf, #9d4edd ); */
padding: 0%; 
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ----------------------------------------------------NavBar---------------------------------------------------- */
.nav-item{
  /* margin-right:20px; */
  color: white;
}
.nav-item a{
  color: white;
  text-decoration: none;
}
/* .nav-list{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
} */

.nav-list {
  display: flex;
  flex-direction: column; /* Change to column direction */
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: flex-start; /* Align items to the start (left) */
}


li{
  padding: 10px;
}

.header_logo {
  margin-right: auto; 
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;

}
/* header{
  background-color: #18002e;
  color: white;
  position: fixed;
  top: 0%;
  right: 0%;
  left: 0%;
  padding: 10px 20px;
  margin-bottom: 30px; 
} */
header {
  background-color: #0530AD;
  color: white;
  top: 0;
  left: 0; /* Change right to left */
  bottom: 0; /* Extend the header to the bottom of the viewport */
  padding: 10px 20px;
  width: 200px; /* Set the width of the header */
}



/* ----------------------------------------------------Home---------------------------------------------------- */
.home_wrap{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* padding-top: 80px; */
  padding-left: 20px;
  /* background-image: linear-gradient(#240046, #3c096c, #5a189a, #7b2cbf); */
}

.home_content{
  padding-top: 10%;
  color: black;
  margin-left: 40px;  
  font-family: 'Georgia';
}
@keyframes fadeIn {
  0% { opacity: 0;  } 
  100% { opacity: 1;  } 
}
.image_container{
height: 100vh;
 margin-left: 0% ;
  margin-top: 0px;
/* padding-top: 2%; */
}

.home_content, .image_container{
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}
.home_content{
  animation-delay: 1.5s ;


}
.image_container{
  animation-delay: 0.5s;

}
.welcome_text{
  font-size:60px;

}

.welcome_info_text{
  font-size: 25px;
}
/* ----------------------------------------------------Table/ Blue Page SyncUp---------------------------------------------------- */
.tableWrap{
  padding-top: 10px;
  /* width: 100%; */
  /* height: 100vh; */
  /* overflow:inherit; */
  /* background-image: linear-gradient(#240046, #3c096c, #5a189a, #7b2cbf); */
  color: black;
  padding-left: 50px;
}

.table-success {
  background-color: #c3e6cb; 
  color: #155724;
}

/* .tableWrap{
  /* display: flex;
  flex-direction: column;
  align-items: flex-end; */
  /* padding-top: 7%; */
  /*color: white;*/
  /* background-image: linear-gradient(#240046, #3c096c, #5a189a, #7b2cbf);   
} */

table{
  width:10%;
  max-width: fit-content;
  border-collapse: collapse;
}

.BP_name{
  margin-right: auto; 
  font-size:60px;
  font-weight: bold;
  /* padding-left: 2%; */
  padding-bottom: 2%;
  color: black;
}

table th, table td{
  border: 1px solid black;
  text-align: center;
  /* padding:2px 10px; */
  font-size: medium;
 color: black;
  background-color: white;
}
table th {
  color: black;
}

.button{
  margin-top: 10px;
  padding: 10px;
}

.legend-container {
  position: fixed;
  left: 240px;
  bottom: 0px;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.legend-list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* display: flex;
  justify-content: center; */
}

.legend-list li {
  /* margin: 0 10px; */
  color: #555;
}
.legend-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 4px;
}
.highlight-lightgreen {
  background-color: lightgreen;
}

.highlight-lightblue {
  background-color: lightblue;
}

/* ----------------------------------------------------Dashboards ----------------------------------------------------*/

.exportButton {
  position: fixed;
  bottom: 0;
  right:0;
  margin: 30px;
  z-index: 1;
}

/* ----------------------------------------------------Login Page ----------------------------------------------------*/
.login_wrap {
  /* background-image: linear-gradient(#240046, #3c096c, #5a189a, #7b2cbf); */
  height: 100vh;
  margin-top: 0;
  padding: 0;
  padding-left: 0px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* body{
  padding-left: 0px;
} */
.container {
  position: relative;
  /* margin-top: 100px; */
  width: 450px;
  height: auto;
  background: #dedede;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  padding: 20px 130px;
  font-size: 35px;
  font-weight: bold;
  color: #130f40;
}

.login_form {
  padding: 20px 40px;
}

.input_row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input_row .font {
  font-size: 18px;
  color: #130f40;
  margin-right: 10px;
}

.login_form input {
  height: 40px;
  width: 100%;
  max-width: 350px;
  padding: 0 5px;
  font-size: 18px;
  outline: none;
  border: 1px solid silver;
}

.login_form button {
  margin-top: 15px;
  height: 45px;
  width: 365px;
  font-size: 20px;
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  background: #1a237e;
  border-radius: 3px;
  border: 1px solid #3949ab;
  transition: 0.5s;
}

.login_form button:hover {
  background: #151c6a;
}

.login_form #email_error,
.login_form #pass_error {
  width: 100%;
  font-size: 18px;
  color: #c62828;
  background: rgba(255, 0, 0, 0.1);
  text-align: center;
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #ef9a9a;
  display: none;
}
